<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="LocalSdk" value="Sdk\bin\Debug" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="LocalSdk">
            <package pattern="Skyline.DataMiner.Sdk" />
        </packageSource>

        <packageSource key="nuget.org">
            <package pattern="*" />
            <package pattern="Skyline.DataMiner.CICD.*" />
        </packageSource>

        <!-- Reusable Workflow -->
        <packageSource key="PrivateGitHubNuGets">
            <package pattern="Skyline.DataMiner.CICD.*" />
        </packageSource>

        <!-- MichielOD -->
        <packageSource key="GitHub">
            <package pattern="Skyline.DataMiner.CICD.*" />
        </packageSource>
    </packageSourceMapping>
</configuration>